################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/Oppedijk.github.io/v16/.suo
/.vs/Oppedijk.github.io/config/applicationhost.config
/_site
/.vs/tasks.vs.json
/Gemfile.lock
