---
title: Oppedijk.com
---
<!DOCTYPE html>
<html>
    <head>
        <title>Oppedijk.com</title>
        <!-- link to main stylesheet -->
        <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
    <body>
        {% include nav.html %}

        <div class="container">
            <div class="blurb">
                <h1>Oppedijk.com</h1>
                <p>Bekijk de pagina's over het maken van een polair diagram, of de B&G Hydra/H2000 informatie voor wedstrijdschepen en de Fastnet bus.</p>
                <h1>Latest Posts</h1>

                <ul>
                    {% for post in site.posts %}
                    <li>
                        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                        <p>{{ post.excerpt }}</p>
                    </li>
                    {% endfor %}
                </ul>
            </div><!-- /.blurb -->
        </div><!-- /.container -->

        {% include footer.html %}
    </body>
</html>
