<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/bandg">B&G</a></li>
        		<li><a href="/sailing">Sailing</a></li>
        		<li><a href="/robotics">Robotics</a></li>
                  		<li><a href="/blog">Blog</a></li>
                  		<li><a href="/wingps">WinGPS</a></li>
                  		<li><a href="/notities">Notities</a></li>
    		</ul>
		</nav>
		<div class="container">
    		<div class="blurb">
        		{{ content }}
        </div><!-- /.blurb -->
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:bandg@oppedijk.com">email</a></li>
        		<li><a href="https://github.com/oppedijk">github.com/oppedijk</a></li>
			</ul>
		</footer>
	</body>
</html>
